body {
  background-color: rgb(196, 186, 176);
  font-family: 'Petrona', serif;
  text-align: center;
  position: relative;
  display: run-in;
}

#nav {
  background-color: rgb(108, 101, 94);
  color: rgb(215, 202, 181);
  margin-top: -35px;
  padding: 10px;

}

h2 {
  font-family: 'Rosarivo', serif;
}

#cards {
  
  justify-content: center;
  
}



.card {
  width: 200px;
  padding: 5px;
  background-color: rgb(46, 45, 46);
  color: rgb(215, 202, 181);

}

#loginBtn, #formBtn {
  border-radius: 25px;
  border: none;
}



.col.s12.m7 {
    width: 100%;
  }
img {
  height: 50%;
  width: 50%;
}

div.col {
  padding: 10px;
}

.nav {
  font-family: 'Petrona', serif;
padding: 10px;

  /* background-color: rgb(215, 202, 181); */
}

a {
  color: white;
  font-size: 18px;
    padding: 20px;
}

a:hover {
  color:rgb(23, 140, 77);
  border: 1px solid teal;
  border-radius: 50px;
}

a:active {
  color:rgb(85, 64, 55);
  padding: 18px;
  
}

a:visited {
  color: white;
}

a#loginBtn:hover {
  border: none;
}

/* login page */
.login {
  width: 50%;
  margin: 2px;
  color: rgb(34, 218, 181);
}

.input-field>label {
  font-size: 24px;
  color: rgb(22, 34, 65);
}

#filmForm {
  text-align: left;
  padding: 5px 10px 5px 50px;
}

#selectForm {
 border: 3px solid white;
}
